REDIS_VERSION=7.2
REDIS_PASSWORD=replace-with-secret-store-value
REDIS_MAX_MEMORY=512mb
REDIS_EVICTION_POLICY=allkeys-lru
REDIS_APPENDONLY=yes
REDIS_SAVE_POLICY=60 1
REDIS_DEFAULT_TTL_SECONDS=3600
REDIS_BACKUP_RETENTION_DAYS=7

